h1{
	text-align:center;
}
.book{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	object-fit:cover;
	margin:1rem;
	background-color:#f8f8f8;
	padding:0.8rem;

	p{
		color:#777777;
	}
	
}
body{
	background-color:#f8f8f8;
}

.price{
	background-color:#2ecc71;
	width:90%;
	text-align:center;
	color:white;
}

.book-library{
	background-color:#ffffff;
}
.text{
	background-color:#f8f8f8;
}